/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.1;
    background-color: #00111c;
    color: lightblue;
    font-family: 'Lato', sans-serif;
    height: 100vh;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*Standardized Styles*/
.container {
    margin: 0 15%;
    padding: 3%;
}
.banner, .me, .hireMe, .projects, .techStack {
    border-radius: 10px;
    box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.3);
    padding: 2% 3%;
}
h2 {
    margin: 2% 0;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: white;
}
#one {
    background-color: #002137;
}
#two {
    background-color: #00253e;
}
#three {
    background-color: #002e4e;
}
#four {
    background-color: #003356;
}
#five {
    background-color: #003a61;
}
.modal {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    border-radius: 10px;
    background-color: #00406b;
    padding: 2%;
    z-index: 1000;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}


/*Banner Component Styles*/
.banner {
    height: 250px;
    text-align: center;
    background-color: #002945;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buttons {
    width: 30%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.linkedin, .github {
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 1px 3px 5px 3px black;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    height: 100%;
    width: 100%;
    opacity: 0.8;
}
.linkedin {
    background-image: url('./imgs/linkedinbanner.png');
    background-size: 90%;
    animation-name: linkedinSwitch;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: alternate;
}
.github {
    background-image: url('./imgs/github.jpg');
    background-size: 50%;
    animation-name: githubSwitch;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: alternate;
}
@keyframes linkedinSwitch {
    0% {opacity: 0;}
    10% {opacity: 0.8;}
    40% {opacity: 0.8;}
    50% {opacity: 0; width: 100%;}
    50.1% {opacity: 0; width: 0;}
    100% {opacity: 0; width: 0;}
}
@keyframes githubSwitch {
    0% {opacity: 0; width: 0;}
    49.9% {opacity: 0; width: 0;}
    50% {opacity: 0; width: 100%;}
    60% {opacity: 0.8;}
    90% {opacity: 0.8;}
    100% {opacity: 0;}
}
.linkedin:hover, .github:hover {
    box-shadow: 5px 7px 15px 3px black;
}
/*Bio Component Styles*/
.me {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #002d4a;
}
.me img {
    max-width: 25%;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.3);

}
.bio {
    width: 70%;
    font-size: 1.3rem;
    margin-bottom: 2%;
}
/*Qualities Component Styles*/
.hireMe {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #00375f;
    padding: 3%;
}
.hireMe img {
    width: 35%;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.3);
}
.qualities {
    width: 70%;
    font-size: 1.3rem;
    line-height: 1.3;
}
/*Projects Component Styles*/
.projects {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #00406b;
}
.projects h2 {
    margin-bottom: 5%;
}
.projectTileContainer {
    border-radius: 10px;;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2%;
    box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.5) inset;
}
.projectTile {
    height: 225px;
    width: 250px;
    margin: 3%;
    box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    backdrop-filter: blur(7px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.2);
}
.projectTile h3 {
    text-align: center;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 0 0 20px #00111c, 0 0 10px #00111c;
    margin: 0 1%;
}
.projectTile:hover {
    box-shadow: 1px 1px 7px 7px rgba(0, 0, 0, 0.2);
}
#growing {
    background-image: url('./imgs/growing.jpg');
    background-position: center;
    background-size: cover;
}
/*TechStack Component Styles*/
.techStack {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #004b7d;
}
.techStack h2 {
    margin-bottom: 5%;
}
.tileContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.tile {
    box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    margin: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tile h3 {
    text-align: center;
    padding-bottom: 2%;
    width: 100%;
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    text-shadow: 0 0 20px #00111c, 0 0 10px #00111c;
}
#javascript {
    background-image: url('./imgs/javascript.png');
    background-position: center;
    background-size: 100%;
    background-color: white;
}
#HTML {
    background-image: url('./imgs/html.png');
    background-position: center;
    background-size: 75%;
    background-color: white;
}
#CSS {
    background-image: url('./imgs/css.png');
    background-position: center;
    background-size: 75%;
    background-color: white;
}
#react {
    background-image: url('./imgs/react.png');
    background-position: center;
    background-size: 100%;
    background-color: white;
}
#redux {
    background-image: url('./imgs/redux.png');
    background-position: center;
    background-size: 85%;
    background-color: white;
}
#axios {
    background-image: url('./imgs/axios.png');
    background-position: center;
    background-size: 95%;
    background-color: white;
}
#node {
    background-image: url('./imgs/node.png');
    background-position: center;
    background-size: 100%;
    background-color: white;
}
#express {
    background-image: url('./imgs/express.png');
    background-position: center;
    background-size: 85%;
    background-color: white;
}
#sql {
    background-image: url('./imgs/sql.png');
    background-position: center;
    background-size: 210%;
    background-color: white;
}
#sqlite {
    background-image: url('./imgs/sqlite.jpg');
    background-position: center;
    background-size: 110%;
    background-color: white;
}
#postgresql {
    background-image: url('./imgs/postgresql.jpg');
    background-position: center;
    background-size: 90%;
    background-color: white;
}
#jest {
    background-image: url('./imgs/jest.png');
    background-position: center;
    background-size: 140%;
    background-color: white;
}
#cypress {
    background-image: url('./imgs/cypress.png');
    background-position: center;
    background-size: 95%;
    background-color: white;
}
#netlify {
    background-image: url('./imgs/netlify.png');
    background-position: center;
    background-size: 90%;
    background-color: white;
}
#vercel {
    background-image: url('./imgs/vercel.png');
    background-position: center;
    background-size: 90%;
    background-color: white;
}
#heroku {
    background-image: url('./imgs/heroku.png');
    background-position: center;
    background-size: 140%;
    background-color: white;
}
#git {
    background-image: url('./imgs/git.png');
    background-position: center;
    background-size: 80%;
    background-color: white;
}
#vscode {
    background-image: url('./imgs/vscode.png');
    background-position: center;
    background-size: 90%;
    background-color: white;
}




/*@media (max-width: 1600px) {
    .banner, .me, .hireMe, .projects, .techStack {
        margin-left: 11%;
        margin-right: 11%;
        padding-left: 3%;
        padding-right: 3%;
    }
    .description {
        width: 85%;
    }
}
@media (max-width: 1400px) {
    .banner, .me, .hireMe, .projects, .techStack {
        margin-left: 7%;
        margin-right: 7%;
    }
}
@media (max-width: 1200px) {
    .bio, .qualities, .description p, .techStack {
        font-size: 1.15rem;
    }
    .tile {
        height: 150px;
        width: 150px;
        font-size: 1.8rem;
    }
    .github {
        background-size: 60%;
    }
}
@media (max-width: 1000px) {
    .banner, .me, .hireMe, .projects, .techStack {
        margin: 0;
    }
    .bio, .qualities, .description p {
        font-size: 1.05rem;
    }
    .description {
        width: 70%;
    }
}
@media (max-width: 900px) {
    .projectImg {
        width: 23%;
    }
    .github {
        background-size: 70%;
    }
}
@media (max-width: 800px) {
    .bio, .qualities, .description p {
        font-size: 0.9rem;
    }
    .github {
        background-size: 80%;
    }
    .projectImg {
        width: 26%;
    }
}
@media (max-width: 600px) {
    .bio, .qualities, .description p {
        font-size: 0.8rem;
    }
    .banner h2, .me h2, .hireMe h2, .projects h2, .techStack h2 {
        font-size: 1.5rem;
    }
    .projectImg {
        height: 75%;
    }
    .github {
        background-size: 90%;
    }
    .banner {
        height: 200px;
    }
}
@media (max-width: 500px) {
    .me, .hireMe {
        flex-direction: column;
    }
    .bio {
        width: 90%;
    }
    .qualities {
        width: 90%;
        margin-bottom: 5%;
    }
    .projectImg {
        height: 60%;
    }
    .description h3 {
        font-size: 1.1rem;
    }
    .github {
        background-size: 100%;
    }
    .tile {
        height: 100px;
        width: 100px;
    }
    .tileContainer h3 {
        font-size: 1.2rem;
    }
}
@media (max-width: 450px) {
    .bio, .qualities, .description p {
        font-size: 0.7rem;
    }
    .projectImg {
        height: 50%;
    }
    .banner {
        height: 150px;
    }
}
@media (max-width: 380px) {
    .projectImg {
        height: 45%;
    }
    .project1, .project2 {
        margin-bottom: 15%;
    }
}*/